.landingPage {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: linear-gradient(to left, #6a0dad, #ff8a65);
    color: white;
}

.title {
    font-size: 3rem;
}

.subheading {
    font-size: 1.2rem;
    margin-top: 10px;
}

.ctaButton {
    background: #6a0dad !important;
    color: white !important;
    font-size: 1.5em !important;
    padding: 30px 50px !important;
    border: none;
    cursor: pointer;
    transition: background 0.3s !important;
}

.ctaButton:hover {
    background: #e86c4f !important;
}

.heroImage {
    width: 100px;
    height: auto;

}

.stepSection {
    padding: 50px;
    background: #fff;
    text-align: center;
    border-bottom: #33333394 solid 1px;
}

.stepFlow {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.step {
    max-width: 250px;
}

.secondarySection{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.stepImage {
    margin: 0 auto;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.navIcon{
    display: inline-block;
    width: 50px;
    margin-bottom: -5px;
}