.cardContainer{
    max-width: 800px;
    display: flex;
    margin: 0 auto;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.homeContainer img {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    object-fit: cover;
    height: auto;
}

.homeContainer h3 {
    padding-top: 0.2em;
    font-size: 3.5em;
    text-align: center;
}

.homeContainer p {
    padding-top: 1em;
    font-size: 1.5em;
    text-align: center;
}