.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}
  
.creationArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
.pageTitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #6a0dad;
    margin-bottom: 20px;
}
  
.creationSections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
  
.selectorSection {
    flex: 1;
    margin-right: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.selectorContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
  
.partSelector {
    flex: 1;
    min-width: 150px;
}
  
.partLabel {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
  
.previewSection {
    flex: 1;
    margin-left: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.avatarPreview {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    border: 2px dashed #ccc;
}
  
.avatarImage{
    object-fit: cover;
}

.saveButton{
    background-color: #6a0dad !important;
    color: #fff !important;
    margin-top: 2em;
}

.saveButton:hover{
    background-color: #520986 !important;
}